<footer>
    <h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo, numquam.</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam voluptatem pariatur maiores. 
        Velit, deserunt libero neque porro fugiat facere tenetur voluptatem nemo cupiditate itaque pariatur 
        aliquid voluptatibus accusantium ut quisquam delectus omnis odit esse corrupti quibusdam nihil eius 
        repellat rem. Totam obcaecati distinctio consectetur quibusdam, minima repellat pariatur voluptas 
        dolores eius nihil, facilis modi quas impedit iure omnis ducimus natus soluta recusandae laboriosam 
        aspernatur. Sapiente autem ipsam id nesciunt consectetur impedit debitis ipsa aliquid iste totam dolore 
        nam non exercitationem, tempora expedita maxime, eaque ducimus distinctio beatae modi placeat facere ad ipsum.
         Ipsam quam optio id delectus iure perspiciatis molestias.</p>
</footer>